.info {
	width: 300px !important;
	height: 300px !important;
	border-radius: 25px;
	cursor: pointer;
}

.info:hover, .profile:hover {
	box-shadow: 0 0 30px 5px yellow;
}

.productCard img {
	width: 337.22px !important;
	height: 250px;
}



@media only screen and (max-width: 600px) {
	.close {
		cursor: pointer;
	}

	.productCard img {
		width: 211px !important;
		height: 200px;
	}

	.smallFont {
		font-size: 12px !important;
	}
}