.info {
	width: 300px !important;
	height: 300px !important;
	border-radius: 25px;
	cursor: pointer;
}

.info:hover, .profile:hover {
	box-shadow: 0 0 30px 5px yellow;
}

.card-panel {
	padding: 10px !important;
}

.productCard img {
	width: 337.22px !important;
	height: 250px;
}

.orderHistory {
	border: none;
}

.orderHistoryBody {
	background-color: #000 !important;
	color: #fff !important;
}



@media only screen and (max-width: 600px) {
	.close {
		cursor: pointer;
	}

	.productCard {
		padding-bottom: 20px !important;
	}

	.productCard img {
		width: 239px !important;
		height: 200px;
	}

	.smallFont {
		font-size: 12px !important;
	}

	.orderHistoryBody {
		padding: 5px !important;
		padding-bottom: 20px !important;
	}
}